{% extends "base.html" %}
{% load custom_tags %}
{% block body %}
<h3 class="text-center m-4">Bestellung für {{ order.table }}</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-utensils"></i> Bestellung
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h3 class="mb-3">{{ order.table }}</h3>
                        {% if order_items %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Artikel</th>
                                        <th scope="col">Preis</th>
                                        <th scope="col">Bestellt</th>
                                        <th scope="col">Bezahlt</th>
                                        <th scope="col">Gesamt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_items %}
                                    <tr>
                                        <td>
                                            {% if item.food %}
                                            {{ item.food.name }}
                                            {% elif item.beverage %}
                                            {{ item.beverage.name }}
                                            {% endif %}
                                        </td>
                                        <td>€ {{ item.price }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.paid_quantity }}</td>
                                        <td>€ {{ item.price|multiply:item.quantity|floatformat:2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div class="alert alert-primary">Keine Speisen oder Getränke hinzugefügt</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <p>Gesamtsumme: € {{ order.total_price }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'order_index' %}" class="btn btn-primary">Zurück</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
